* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 10px;
  font-size: 15px;
}
.nav-menu a:hover {
  text-decoration: underline;
}
.section {
  height: 500px;
  margin-top: 50px;
}
.section-img {
  width: 80%;
}
.section-child {
  width: 40%;
  float: left;
  padding: 20px;
  margin-left: 50px;
}

.nav-menu {
  float: right;
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.orange-text {
  color: orange;
}
.section h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}
.section-btn {
  margin-top: 29px;
  padding: 12px 27px;
  background-image: linear-gradient(45deg, salmon, tomato);
  color: white;
  border: none;
  border-radius: 5px;
}
.latest-work-heading {
  text-align: center;
}
.work-details {
  width: 95%;
  margin: 20px auto;
}
.work-detail {
  width: 30%;
  border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 5px 0px rgba(181, 175, 175, 0.68);
  padding: 10px;
  float: left;
  margin-right: 15px;
}
.work-detail h1 {
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
  font-size: 23px;
}
.work-detail p {
  color: gray;
  font-size: 15px;
  margin-bottom: 15px;
}
.work-img {
  width: 85%;
  margin-bottom: 15px;
}
.work-enq {
  width: 70%;
  height: 120px;
  background-image: url("shapes/Group_33094_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
}
.work-enq h1 {
  color: wheat;
  font-weight: 900;
  font-size: 40px;
  float: left;
  margin-top: 23px;
}
.work-enq button {
  float: right;
}
.footer {
  margin: 0 auto;
}
.footer h3 {
  color: gray;
  text-align: center;
  margin: 5px;
  margin-top: 70px;
}
.footer h1 {
  text-align: center;
  color: rgb(61, 57, 57);
  margin: 5px;
}
.icons {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}
.icon {
  width: 45px;
  margin-right: 14px;
}
